name: Lint YAML

on:
  push:
    branches: [main]
  pull_request:

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install yamllint
        run: pip install --disable-pip-version-check --no-python-version-warning yamllint

      - name: Run yamllint
        run: yamllint -c .yamllint src
